<h1>詳細</h1>
<p>
  <%# 名前と言う文字列を表示した後に、コントローラーから渡された@user(ユーザーのデータが入っている)の、 %>
  <%# .name(テーブルのカラム名)を記載することで該当のユーザーの名前を編集できない形で出力する %>
  名前 : <%= @user.name %>
</p>
<p>
  電話番号 : <%= @user.phone %>
</p>
